<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Fink - Home</title>
</head>
<body>
<div class="container">
    <h1 th:text="'🪶Välkommen, ' + ${user.username} + '!'"></h1>

    <div class="card">
        <a th:href="@{/birds/new}"><button>Lägg till ny fågelpost</button></a>
        <a th:href="@{/birds}"><button>Visa alla fåglar du sett</button></a>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logga ut</button>
        </form>
    </div>
</div>
</body>
</html>