<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Fink - Registrera</title>
</head>
<body>
<h1>Registrera ny användare</h1>

<form th:action="@{/register}" th:object="${user}" method="post">
    <label>Username:</label>
    <input type="text" th:field="*{username}" required>
    <label>Password:</label>
    <input type="password" th:field="*{password}" required>
    <button type="submit">Registrera</button>
</form>
<p><a th:href="@{/birds/new}">Lägg till ny fågelpost</a></p>
<p><a th:href="@{/}">Tillbaka till login</a></p>
</body>
</html>